<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head><meta charset="UTF-8">
    <title>공통 레이아웃 with Aside</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productList.css">
    <script src="/js/nav.js"></script>
    <script src="/js/home.js"></script>
</head>
<body>
<div th:replace="~{/layout/fragment/header :: header}"></div>

<div th:replace="~{/layout/fragment/nav :: nav}"></div>

<div class="layout-wrapper">
    <aside layout:fragment="aside">
        <div>
            <a href="/user/mypage">내 정보</a><br>
            <a href="/product/list">판매내역</a><br>
            <a href="#">개인정보 수정</a>
        </div>
    </aside>
    <main layout:fragment="content">
        <div class="container">
            <h2>내가 등록한 상품</h2>
            <div class="product-grid">
                <div th:each="product : ${myProductList}" class="product-card">
                    <a th:href="@{'/product/' + ${product.productNo}}">
                        <img th:src="${product.fileUrl}" alt="상품 이미지">
                        <h4 th:text="${product.title}">상품명</h4>
                        <p th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}">0원</p>
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>

<div th:replace="~{/layout/fragment/footer :: footer}"></div>

<div layout:fragment="scripts"></div>

</body>
</html>