<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
<nav th:fragment="nav">
    <div id="nav_container">
        <div class="div_menu">
            <div>
                <p>카테고리(드롭다운 예정)</p>
            </div>
            <div>
                <a href="#">
                    <p>이벤트</p>
                </a>
            </div>
            <div>
                <a href="#">
                    <p>커뮤니티</p>
                </a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>