<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav th:fragment="nav">
    <div id="nav_container">
        <div class="div_menu">
            <div class="dropdown-container">
                <p id="category-toggle">카테고리</p>
                <ul class="dropdown-menu main-category">
                    <li class="category-item" data-category="office">사무용</li>
                    <li class="category-item" data-category="gaming">게이밍</li>
                    <li class="category-item" data-category="outer">기타</li>
                </ul>
                <ul class="dropdown-menu sub-category" id="sub-category-container"></ul>
            </div>

            <div>
                <a href="#">
                    <p>이벤트</p>
                </a>
            </div>
            <div>
                <a href="#">
                    <p>커뮤니티</p>
                </a>
            </div>
        </div>
    </div>
</nav>

</body>
</html>