<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav th:fragment="nav">
    <div id="nav_container">
        <div class="div_menu">
            <div class="dropdown-container">
                <p id="category-toggle">카테고리 ▼</p>
                <ul class="main-category">
                    <li class="category-item" data-sub="women">여성의류 ▶</li>
                    <li class="category-item" data-sub="men">남성의류 ▶</li>
                    <li class="category-item" data-sub="shoes">신발 ▶</li>
                    <li class="category-item" data-sub="bags">지갑/가방 ▶</li>
                    <li class="category-item" data-sub="watches">시계 ▶</li>
                    <li class="category-item" data-sub="jewelry">쥬얼리 ▶</li>
                    <li class="category-item" data-sub="accessories">악세서리 ▶</li>
                    <li class="category-item" data-sub="digital">디지털 ▶</li>
                    <li class="category-item" data-sub="appliances">가전제품 ▶</li>
                    <li class="category-item" data-sub="sports">스포츠/레저 ▶</li>
                    <li class="category-item" data-sub="vehicles">차량/오토바이 ▶</li>
                    <li class="category-item" data-sub="goods">굿즈 ▶</li>
                    <li class="category-item" data-sub="kidult">키덜트 ▶</li>
                    <li class="category-item" data-sub="art">예술/희귀/수집품 ▶</li>
                    <li class="category-item" data-sub="books">도서/티켓/문구 ▶</li>
                    <li class="category-item" data-sub="beauty">뷰티/미용 ▶</li>
                    <li class="category-item" data-sub="furniture">가구/인테리어 ▶</li>
                    <li class="category-item" data-sub="living">생활/주방용품 ▶</li>
                    <li class="category-item" data-sub="tools">공구/산업용품 ▶</li>
                    <li class="category-item" data-sub="food">식품 ▶</li>
                    <li class="category-item" data-sub="pets">반려동물용품 ▶</li>
                    <li class="category-item" data-sub="other">기타</li>
                    <li>재능</li>
                </ul>

                <ul class="sub-category" id="women">
                    <li class="sub-category-item" data-sub-sub="woman_outer">아우터 ▶</li>
                    <li class="sub-category-item" data-sub-sub="woman_top">상의 ▶</li>
                    <li class="sub-category-item" data-sub-sub="woman_bottom">하의 ▶</li>
                    <li class="sub-category-item" data-sub-sub="woman_dress">원피스 ▶</li>
                    <li class="sub-category-item" data-sub-sub="woman_two_piece">투피스 ▶</li>
                    <li class="sub-category-item" data-sub-sub="woman_jumpsuit">점프수트 ▶</li>
                    <li class="sub-category-item" data-sub-sub="woman_set">셋업/세트 ▶</li>
                    <li class="sub-category-item" data-sub-sub="woman_underwear">언더웨어/홈웨어 ▶</li>
                    <li class="sub-category-item" data-sub-sub="woman_theme">테마/이벤트 ▶</li>
                </ul>

                <ul class="sub-sub-category" id="woman_outer">
                    <li>패딩</li>
                    <li>점퍼</li>
                    <li>코트</li>
                    <li>자켓</li>
                    <li>가디건</li>
                    <li>조끼</li>
                </ul>

                <ul class="sub-sub-category" id="woman_top">
                    <li>니트/스웨터</li>
                    <li>후드티/후드집업</li>
                    <li>맨투맨</li>
                    <li>블라우스</li>
                    <li>셔츠</li>
                    <li>반팔 티셔츠</li>
                    <li>긴팔 티셔츠</li>
                    <li>민소매 티셔츠</li>
                </ul>

                <ul class="sub-sub-category" id="woman_bottom">
                    <li>데님/청바지</li>
                    <li>슬랙스</li>
                    <li>면바지</li>
                    <li>반바지</li>
                    <li>트레이닝/조거팬츠</li>
                    <li>레깅스</li>
                    <li>기타 바지</li>
                </ul>

                <ul class="sub-sub-category" id="woman_dress">
                    <li>롱 원피스</li>
                    <li>미디 원피스</li>
                    <li>미니 원피스</li>
                </ul>

                <ul class="sub-sub-category" id="woman_two_piece">
                    <li>스커트 투피스</li>
                    <li>팬츠 투피스</li>
                </ul>

                <ul class="sub-sub-category" id="woman_jumpsuit">
                    <li>반팔 점프수트</li>
                    <li>긴팔 점프수트</li>
                </ul>

                <ul class="sub-sub-category" id="woman_set">
                    <li>정장 셋업</li>
                    <li>캐주얼 셋업</li>
                </ul>

                <ul class="sub-sub-category" id="woman_underwear">
                    <li>홈웨어</li>
                    <li>언더웨어</li>
                </ul>

                <ul class="sub-sub-category" id="woman_theme">
                    <li>코스튬/코스프레</li>
                    <li>한복</li>
                    <li>드레스</li>
                </ul>


                <ul class="sub-category" id="jewelry">
                    <li>반지</li>
                    <li>목걸이</li>
                    <li>팔찌</li>
                </ul>

                <ul class="sub-category" id="accessories">
                    <li>모자</li>
                    <li>벨트</li>
                    <li>장갑</li>
                </ul>

                <ul class="sub-category" id="goods">
                    <li>캐릭터 굿즈</li>
                    <li>팬덤 굿즈</li>
                </ul>

                <ul class="sub-category" id="kidult">
                    <li>레고</li>
                    <li>프라모델</li>
                    <li>피규어</li>
                </ul>

                <ul class="sub-category" id="art">
                    <li>회화</li>
                    <li>조각</li>
                    <li>골동품</li>
                </ul>
            </div>
            <div>
                <a href="#">
                    <p>이벤트</p>
                </a>
            </div>
            <div>
                <a href="#">
                    <p>커뮤니티</p>
                </a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>