<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

<!-- 아이디 -->
<div id="section_id">
    <div class="just_text">아이디</div>
    <div id="id_input_box">
        <input type="text" id="inputId" name="userId" oninput="checkUserId()" maxlength="20" placeholder="아이디">
        <button id="id_check" onclick="checkDuplicateId()">중복검사</button>
    </div>
    <div id="id_error_message" style="font-size: 0.9em;"></div>
</div>

<!-- 비밀번호 -->
<div id="section_pw">
    <div class="just_text">비밀번호</div>
    <input type="password" id="inputPw1" name="password" oninput="validateUserPw(),checkUserPw2()" maxlength="20" placeholder="비밀번호">
    <div id="pw_error_message" style="font-size: 0.9em;"></div>
    <div id="pw_description">
        <span id="checkLen"><i class="fa-solid fa-check"></i>8자 이상 20자 이하 입력(공백 제외)</span>
        <span id="checkEng"><i class="fa-solid fa-check"></i>영문/숫자/특수문자 중, 2가지 이상 포함</span>
        <span id="checkSeq"><i class="fa-solid fa-check"></i>연속 3자 이상 동일한 문자/숫자 제외</span>
    </div>

    <div class="just_text" style="margin-top: 10px;">비밀번호 확인</div>
    <input type="password" id="inputPw2" oninput="checkUserPw2()" placeholder="비밀번호 확인">
    <div id="pw_error_message2" style="font-size: 0.9em;"></div>
</div>

<!-- 이름/성별 -->
<div id="section_name_gender">
    <div id="name_gender_text">
        <div class="just_text">이름</div>
        <input type="text" id="inputName" placeholder="이름을 입력하세요" name="userName" oninput="checkUserName()">
    </div>
    <div id="name_gender_box">
        <div class="just_text">성별</div>
        <select id="inputGender" name="gender" onchange="checkGender()">
            <option value="">선택</option>
            <option value="M">남성</option>
            <option value="F">여성</option>
        </select>
    </div>
    <div id="name_error_message" style="font-size: 0.9em;"></div>
</div>

<!-- 닉네임 -->
<div id="section_nickname">
    <div class="just_text">닉네임</div>
    <div id="nickname_input_box">
        <input type="text" id="inputNick" name="nickName" oninput="checkUserNick()" maxlength="20" placeholder="닉네임">
        <button id="nick_check" onclick="checkDuplicateNick()">중복검사</button>
    </div>
    <div id="nick_error_message" style="font-size: 0.9em;"></div>
</div>

<!-- 생년월일 -->
<div id="section_birth">
    <div class="just_text">생년월일</div>
    <div id="birth_section">
        <select name="year" id="inputYear" class="inputBirth" onchange="setBirth()"></select>
        <select name="month" id="inputMonth" class="inputBirth" onchange="setBirth()"></select>
        <select name="day" id="inputDay" class="inputBirth" onchange="setBirth()"></select>
    </div>
</div>

<!-- 이메일 -->
<div id="section_email">
    <div class="just_text">이메일</div>
    <input type="text" id="inputEmail" name="email" placeholder="이메일" oninput="checkUserEmail()">
    <div id="email_error_message" style="font-size: 0.9em;"></div>
</div>

<!-- 전화번호 -->
<div id="section_phone">
    <div class="just_text">휴대전화</div>
    <input type="text" id="inputPhone" name="phone" placeholder="' - '를 제외하고 입력하세요." oninput="checkUserPhone()">
    <div id="phone_error_message" style="font-size: 0.9em;"></div>
</div>

<!-- 가입 버튼 -->
<button id="regist_btn" onclick="checkRegistInfo()">가입하기</button>

<!-- JS -->
<script src="/js/regUserForm.js"></script>
</body>
</html>
