<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>개인정보 수정</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/nav.js"></script>
    <script src="/js/home.js"></script>
</head>
<body>

<!-- Header -->
<div th:replace="~{/layout/fragment/header :: header}"></div>

<!-- Navigation -->
<div th:replace="~{/layout/fragment/nav :: nav}"></div>

<!-- Main Content -->
<div class="layout-wrapper">
    <!-- Aside 영역 -->
    <aside layout:fragment="aside">
        <div>
            <a href="/user/mypage">내 정보</a><br>
            <a href="/product/list">판매내역</a><br>
            <a href="/user/update">개인정보 수정</a>
        </div>
    </aside>

    <!-- 본문 영역 -->
    <main layout:fragment="content">
        <div class="container">
            <div class="profile-box">
                <div class="profile-info">
                    <h2>개인정보 수정</h2>
                </div>
            </div>

            <div class="summary-cards">
                <div class="summary-card" style="width: 100%;">
                    <form id="updateForm">
                        <label for="nickName">닉네임</label>
                        <input type="text" id="nickName" name="nickName" required><br><br>

                        <label for="password">새 비밀번호</label>
                        <input type="password" id="password" name="password"><br><br>

                        <label for="passwordConfirm">비밀번호 확인</label>
                        <input type="password" id="passwordConfirm" name="passwordConfirm"><br><br>

                        <button type="button" onclick="updateUserInfo()">수정하기</button>
                    </form>
                    <div id="update-result" style="margin-top: 10px;"></div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Footer -->
<div th:replace="~{/layout/fragment/footer :: footer}"></div>
<div layout:fragment="scripts">
    <script src="/js/update.js"></script>
</div>
</body>
</html>
