<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>찜한 상품 목록</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/wishlist.css">
    <script src="/js/nav.js"></script>
    <script src="/js/productList.js"></script>
</head>
<body>

<div th:replace="~{/layout/fragment/header :: header}"></div>
<div th:replace="~{/layout/fragment/nav :: nav}"></div>

<div class="layout-wrapper">
    <aside layout:fragment="aside">
        <div>
            <a href="/user/mypage">내 정보</a><br>
            <a href="/product/list">판매내역</a><br>
            <a href="/user/update">개인정보 수정</a><br>
            <a href="/user/wishlist">찜 목록</a>
        </div>
    </aside>

    <main layout:fragment="content">
        <div class="container">
            <h1>찜한 상품 목록</h1>

            <div class="product-grid">
                <div class="product-card" th:each="product : ${wishlist}">
                    <a th:href="@{'/product/' + ${product.productNo}}">
                        <img th:src="${product.fileUrl}" alt="상품 이미지" style="max-width: 200px; height: 200px; object-fit: cover;">
                        <h3 th:text="${product.title}">상품명</h3>
                        <p th:text="${product.price} + ' 원'">가격</p>
                    </a>
                </div>
            </div>

        </div>
    </main>
</div>

<div th:replace="~{/layout/fragment/footer :: footer}"></div>

<div layout:fragment="scripts"></div>

</body>
</html>
