.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    font-size: 28px;
    color: #222;
    margin-bottom: 20px;
    text-align: center;
}

#btn-container{
    display: flex;
    justify-content: right;
}

button#write-btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

button#write-btn:hover {
    background-color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fafafa;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
}

th {
    background-color: #e0e0e0;
    font-weight: 600;
    color: #444;
}

tbody tr:hover {
    background-color: #eaeaea;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #222;
    text-decoration: underline;
}
