<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axos/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home.js"></script>
</head>
<body>
<section layout:fragment="content">
    <div class="slider-container">
        <div class="slider">
            <div class="slide" style="background-image: url('/images/b3.png');"></div>
            <div class="slide" style="background-image: url('/images/b2.png');"></div>
            <div class="slide" style="background-image: url('/images/b1.png');"></div>
        </div>
            <button class="prev-btn">&#10094;</button>
            <button class="next-btn">&#10095;</button>
    </div>
    <div>
        <h1 style="font-weight: bold; font-size: 40px;">방금 등록된 물품</h1>
    </div>
    <div>
        <div class="product-container">
            <button class="product-prev-btn">&#10094;</button>
            <div class="product-grid"></div>
            <button class="product-next-btn">&#10095;</button>
        </div>
    </div>
</section>
</body>
</html>